@* game Template File *@
@(username: String, data: Seq[Tables.UsersRow])(implicit messages: Messages)

@main("Another Name"){
	<p id = "usernameP">@username</p>

	
    <div id = "updateForm"></div>

<!--	<center><h3>This is now a game.</h3> -->
	<body id = "body"> 

	<canvas id ="canvas"> </canvas>
	<br>
	<p id = "Stats"></p>
	<br>
	<input id="tower1" type="button" value="Tower 1 (30€)" onclick="chooseTowerType(1);"/>
	<input id="tower2" type="button" value="Tower 2 (100€)" onclick="chooseTowerType(2);"/>
	<input id="tower3" type="button" value="Tower 3 (400€)" onclick="chooseTowerType(3);"/>
	<input id="tower4" type="button" value="Tower 4 (1500€)" onclick="chooseTowerType(4);"/>
	<br> <br>
	<input type="button" value="press me if you think this isn't hard enough" onclick="harder();" />	
	<br>
	
	<table border="1">
		<tr><th>Username</th><th>Highscore1</th><th>Wins</th><th>Losses</th></tr>
		@for(d <- data) {
			<tr>
			<td>@d.username</td>
			<td>@d.highscore1</td>
			<td>@d.wins</td>
			<td>@d.losses</td>
			</tr>
		}
	</table>
	</body>	
<!--
	<img id="tower1img" src="tower1.gif">
	<img id="tower2img" src="tower2.gif">
	<img id="tower3img" src="tower3.gif" style="display:none;">
	<img id="tower4img" src="tower4.gif" style="display:none;">
	-->

}

